[submodule "SBWT"]
	path = SBWT
	url = https://github.com/algbio/SBWT.git
[submodule "kmer-lcs"]
	path = kmer-lcs
	url = https://github.com/jnalanko/kmer-lcs.git
[submodule "finimizer_matrix"]
	path = finimizer_matrix
	url = https://github.com/jnalanko/finimizer_matrix.git
